root = true

[*]
# CSharpier default
charset = utf-8
insert_final_newline = true
end_of_line = lf
max_line_length = 100
trim_trailing_whitespace = true

# Custom
# Use tabs: https://alexandersandberg.com/articles/default-to-tabs-instead-of-spaces-for-an-accessible-first-environment/
indent_style = tab

[*.{yml,yaml}]
# YAML disallows tabs
indent_size = 2
indent_style = space
